<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <RollingFile name="fileLogger" fileName="./logs/CertificateSystem.log"
                     filePattern="./logs/CertificateSystem-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.epam.esm" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Logger name="com.epam.esm" level="info" additivity="true">
            <appender-ref ref="console" level="info" />
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="fileLogger" />
        </Root>
    </Loggers>

</Configuration>